.rowText {
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #fefbf7; }
  .rowText .textTitle {
    font-family: "Rochester", cursive;
    font-size: 40px;
    color: #fefbf7;
    background-color: #444444;
    border-top: 3px solid #ef143c;
    border-bottom: 3px solid #ef143c;
    padding-bottom: 10px;
    text-align: center; }
    .rowText .textTitle .title {
      text-align: center; }
  .rowText .enterSelectText {
    margin-top: 20px; }
    .rowText .enterSelectText .userText {
      margin-bottom: 0px;
      padding-bottom: 0px; }
      .rowText .enterSelectText .userText .userTextLabel {
        display: inline !important; }
        .rowText .enterSelectText .userText .userTextLabel div {
          display: inline; }
          .rowText .enterSelectText .userText .userTextLabel div span {
            float: right;
            font-size: 16px; }
          .rowText .enterSelectText .userText .userTextLabel div input {
            display: inline !important;
            width: 15%;
            margin-bottom: 2px;
            float: right;
            height: 25px;
            margin-left: 10px;
            padding-top: 2px;
            padding-bottom: 0px; }
      .rowText .enterSelectText .userText .saveButton {
        cursor: pointer;
        margin-left: 10px; }
        .rowText .enterSelectText .userText .saveButton:hover {
          color: #ef143c; }
    .rowText .enterSelectText .standardLorems {
      padding-left: 0px;
      padding-right: 0px; }
      .rowText .enterSelectText .standardLorems h4 {
        color: #fefbf7;
        background-color: #444444;
        padding: 10px; }
      .rowText .enterSelectText .standardLorems span i {
        color: #1D9E74; }
      .rowText .enterSelectText .standardLorems input[type="checkbox"] {
        display: none; }
      .rowText .enterSelectText .standardLorems input[type="checkbox"]:checked + label {
        color: #ef143c; }
      .rowText .enterSelectText .standardLorems .checkboxLabel:hover {
        color: #ef143c;
        cursor: pointer;
        /* transitions and animations */
        -webkit-transition: color .5s ease;
        -moz-transition: color .5s ease;
        -ms-transition: color .5s ease;
        -o-transition: color .5s ease;
        transition: color .5s ease; }
      .rowText .enterSelectText .standardLorems .checkbox {
        margin-top: 0px;
        margin-left: -20px; }
      .rowText .enterSelectText .standardLorems .exText {
        font-style: italic;
        font-size: 15px;
        color: #848484;
        margin-left: 20px;
        margin-bottom: 2px; }
    .rowText .enterSelectText .standardLoremPercentages {
      padding-left: 0px;
      padding-right: 0px; }
      .rowText .enterSelectText .standardLoremPercentages h4 {
        color: #fefbf7;
        background-color: #444444;
        padding: 10px;
        text-align: right;
        margin-bottom: 20px; }
      .rowText .enterSelectText .standardLoremPercentages input {
        width: 55%;
        float: right; }
      .rowText .enterSelectText .standardLoremPercentages #loremPercentInput {
        margin-bottom: 22px; }
      .rowText .enterSelectText .standardLoremPercentages #gibberishPercentInput {
        margin-bottom: 23px; }
      .rowText .enterSelectText .standardLoremPercentages #hipsterPercentInput {
        margin-bottom: 23px; }
    .rowText .enterSelectText .wordTotalSubmit {
      padding-left: 0px; }
      .rowText .enterSelectText .wordTotalSubmit .wordTotal {
        padding-top: 10px;
        padding-bottom: 20px; }
        .rowText .enterSelectText .wordTotalSubmit .wordTotal input {
          width: 18%;
          max-width: 70px;
          min-width: 65px;
          display: inline-block;
          margin-left: 5px; }
      .rowText .enterSelectText .wordTotalSubmit button {
        margin-right: 10px; }
      .rowText .enterSelectText .wordTotalSubmit .random {
        color: #ef143c; }
  .rowText .userArrays .navLinks {
    text-align: right;
    padding-top: 15px;
    margin-bottom: -5px; }
    .rowText .userArrays .navLinks ul {
      list-style-type: none;
      padding: 0px; }
      .rowText .userArrays .navLinks ul li {
        display: inline-block;
        cursor: pointer; }
      .rowText .userArrays .navLinks ul .active {
        color: #ef143c; }
  .rowText .userArrays .nothingHere {
    border: 1px solid #444444;
    width: 75%;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 20px;
    margin-top: 50px; }
    .rowText .userArrays .nothingHere h3 {
      color: #ef143c; }
    .rowText .userArrays .nothingHere p {
      font-size: 20px;
      display: inline; }
    .rowText .userArrays .nothingHere .title {
      font-family: "Rochester", cursive;
      font-size: 35px;
      margin-left: 5px;
      display: inline; }
    .rowText .userArrays .nothingHere .blinkingLine {
      margin-left: -8px;
      padding-right: 8px;
      border-left: 1px solid #444444;
      font-size: 28px;
      animation: 1.75s blink infinite; }
  .rowText .userArrays ul {
    list-style-type: none;
    padding: 0px; }
    .rowText .userArrays ul .publicArrays {
      display: inline; }
      .rowText .userArrays ul .publicArrays .textArrayName {
        font-size: 16px;
        color: #fefbf7;
        background-color: #444444;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 5px; }
        .rowText .userArrays ul .publicArrays .textArrayName .check {
          display: inline; }
          .rowText .userArrays ul .publicArrays .textArrayName .check .checkSpan:hover {
            color: #ef143c;
            cursor: pointer;
            /* transitions and animations */
            -webkit-transition: color .5s ease;
            -moz-transition: color .5s ease;
            -ms-transition: color .5s ease;
            -o-transition: color .5s ease;
            transition: color .5s ease; }
            .rowText .userArrays ul .publicArrays .textArrayName .check .checkSpan:hover i {
              color: #1D9E74;
              cursor: pointer;
              /* transitions and animations */
              -webkit-transition: color .5s ease;
              -moz-transition: color .5s ease;
              -ms-transition: color .5s ease;
              -o-transition: color .5s ease;
              transition: color .5s ease; }
        .rowText .userArrays ul .publicArrays .textArrayName .userPecentage {
          display: inline;
          margin-left: 20px; }
          .rowText .userArrays ul .publicArrays .textArrayName .userPecentage input {
            display: inline;
            width: 80px;
            height: 25px; }
          .rowText .userArrays ul .publicArrays .textArrayName .userPecentage span {
            display: inline;
            padding-right: 5px;
            font-size: 16px; }
      .rowText .userArrays ul .publicArrays .heartIcon {
        color: #ef143c;
        cursor: pointer;
        font-size: 32px;
        x-index: 999;
        position: inherit;
        float: right;
        margin-top: -6px; }
      .rowText .userArrays ul .publicArrays .heartNo {
        color: #fefbf7;
        font-size: 15px;
        float: right;
        width: 32px;
        text-align: center;
        x-index: 1000;
        position: absolute;
        right: 25px;
        cursor: pointer; }
      .rowText .userArrays ul .publicArrays .textArray {
        font-style: italic;
        margin-bottom: 0px;
        font-size: 16px; }
      .rowText .userArrays ul .publicArrays .userNameGroup {
        font-style: normal;
        font-size: 16px; }
        .rowText .userArrays ul .publicArrays .userNameGroup .userName {
          color: #ef143c; }
          .rowText .userArrays ul .publicArrays .userNameGroup .userName .userNameBy {
            color: #444444; }
  .rowText .userArrays .pagination {
    float: right; }
    .rowText .userArrays .pagination li a {
      background-color: #fefbf7;
      color: #444444;
      border: 1px solid #444444;
      padding: 6px;
      padding-left: 12px;
      padding-right: 12px; }
  .rowText .modalSave .modal-content, .rowText .modal .modal-content {
    padding: 20px;
    background-color: #fefbf7; }
    .rowText .modalSave .modal-content .modal-header h2, .rowText .modal .modal-content .modal-header h2 {
      text-align: center; }
    .rowText .modalSave .modal-content i, .rowText .modal .modal-content i {
      float: right;
      margin-bottom: 10px; }
      .rowText .modalSave .modal-content i:hover, .rowText .modal .modal-content i:hover {
        cursor: pointer;
        color: #ef143c; }
    .rowText .modalSave .modal-content .modal-body, .rowText .modal .modal-content .modal-body {
      padding-top: 10px; }
      .rowText .modalSave .modal-content .modal-body textarea, .rowText .modal .modal-content .modal-body textarea {
        padding: 12px; }
    .rowText .modalSave .modal-content .form-group, .rowText .modal .modal-content .form-group {
      padding-top: 10px; }
    .rowText .modalSave .modal-content .checkboxPrivate, .rowText .modal .modal-content .checkboxPrivate {
      display: inline-block;
      font-size: 15px;
      float: right; }
      .rowText .modalSave .modal-content .checkboxPrivate input, .rowText .modal .modal-content .checkboxPrivate input {
        border: 1px solid #444444 !important;
        background-color: #fefbf7 !important; }

.rowImageSearch {
  background-color: #fefbf7;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px; }
  .rowImageSearch .imageTitle {
    font-family: "Rochester", cursive;
    font-size: 40px;
    color: #fefbf7;
    background-color: #444444;
    border-top: 3px solid #ef143c;
    border-bottom: 3px solid #ef143c;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: center; }
    .rowImageSearch .imageTitle .title {
      text-align: center; }
  .rowImageSearch form {
    padding-bottom: 20px;
    padding-left: 0px; }
    .rowImageSearch form .searchBox {
      width: 14%; }
    .rowImageSearch form .custom {
      margin-top: 20px; }
  .rowImageSearch .results {
    padding: 0px; }
    .rowImageSearch .results img {
      margin: 0px auto;
      padding-bottom: 20px; }

.results img {
  max-width: 100%; }

label {
  font-weight: 400; }

.customSize {
  padding-top: 20px; }

.form-group {
  padding-bottom: 20px; }

.image-fields label {
  width: 100%; }

.bullet {
  list-style-type: none; }

.imageButtons {
  display: block;
  padding-left: 0px;
  margin-left: -10px; }

#custom {
  margin-top: 0px;
  border: 2px solid black;
  margin-left: 10px;
  margin-right: 0px;
  width: 200px;
  margin-bottom: 5px;
  text-align: center; }

#submit {
  width: 100px; }

#save {
  margin-top: 0px; }

#searchBox {
  width: 200px; }

.form-control {
  border: 2px solid red; }

.toolTips {
  margin-left: 15px;
  padding-bottom: 20px; }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.rowHeader {
  background-color: #fefbf7;
  padding-top: 25px;
  margin-top: 30px; }
  .rowHeader .leftColumn a:hover {
    text-decoration: none; }
  .rowHeader .leftColumn a:focus {
    outline: none; }
  .rowHeader .leftColumn img {
    width: 25%;
    min-width: 85px;
    max-width: 125px;
    margin-top: -20px;
    margin-left: -5px; }
  .rowHeader .leftColumn h1 {
    margin-left: -10px;
    font-family: "Rochester", cursive;
    font-size: 60px;
    color: #444444;
    display: inline-block;
    vertical-align: top; }
    .rowHeader .leftColumn h1 .blinkingLine {
      border-left: 1px solid #444444;
      display: inline;
      font-size: 50px;
      animation: 1.75s blink infinite; }
  .rowHeader .rightColumn .fa-bars {
    font-size: 25px;
    float: right;
    margin-top: -15px;
    color: #444444;
    cursor: pointer; }
  .rowHeader .rightColumn .menuList {
    z-index: 1000;
    position: absolute;
    right: 15px;
    animation: 2s fadeIn;
    padding: 10px;
    list-style-type: none;
    background-color: #444444;
    margin-top: 15px;
    font-size: 18px;
    margin-left: 5px; }
    .rowHeader .rightColumn .menuList li a {
      text-decoration: none !important;
      color: #fefbf7; }
    .rowHeader .rightColumn .menuList li :hover {
      text-decoration: none; }
  .rowHeader .rightColumn .welcome {
    margin-top: -14px;
    float: right;
    margin-right: 15px; }
    .rowHeader .rightColumn .welcome span {
      color: #444444; }
    .rowHeader .rightColumn .welcome a:hover {
      text-decoration: none; }
    .rowHeader .rightColumn .welcome i {
      margin-left: 5px;
      cursor: pointer; }
  .rowHeader .tag h3 {
    text-align: right;
    font-family: "Rochester", cursive;
    font-size: 35px;
    margin-top: -10px; }
    .rowHeader .tag h3 span {
      color: #ef143c; }
      .rowHeader .tag h3 span .fa-heart {
        font-size: 28px; }

.rowRegister, .rowLogin {
  width: 50%;
  max-width: 550px;
  min-width: 325px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: #fefbf7;
  padding: 20px; }
  .rowRegister .loginError, .rowLogin .loginError {
    border: 1px solid #515151;
    color: #444444;
    text-align: center; }
  .rowRegister h2, .rowLogin h2 {
    text-align: center;
    margin-bottom: 20px; }
  .rowRegister a, .rowLogin a {
    font-size: 15px; }
  .rowRegister button, .rowLogin button {
    float: right;
    margin-left: 5px; }

.rowProfile {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  background-color: #fefbf7; }
  .rowProfile .navLinks {
    padding: 0px;
    padding-top: 15px; }
    .rowProfile .navLinks ul {
      padding: 0px;
      list-style-type: none;
      float: right; }
      .rowProfile .navLinks ul li {
        display: inline-block;
        cursor: pointer; }
      .rowProfile .navLinks ul .active {
        color: #ef143c; }
  .rowProfile .nothingHere {
    border: 1px solid #444444;
    width: 50%;
    max-width: 525px;
    min-width: 325px;
    text-align: center;
    margin: 0px auto;
    display: block;
    padding-bottom: 20px; }
    .rowProfile .nothingHere h3 {
      color: #ef143c; }
    .rowProfile .nothingHere p {
      font-size: 25px;
      margin-bottom: 0px; }
    .rowProfile .nothingHere span {
      font-family: "Rochester", cursive;
      font-size: 38px; }
    .rowProfile .nothingHere .blinkingLine {
      margin-left: -8px;
      padding-right: 8px;
      border-left: 1px solid #444444;
      display: inline;
      font-size: 33px;
      animation: 1.75s blink infinite; }
  .rowProfile .userInfo {
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 20px; }
    .rowProfile .userInfo form {
      width: 50%;
      max-width: 425px;
      min-width: 275px;
      margin: 0px auto;
      display: block; }
      .rowProfile .userInfo form .logout {
        font-size: 15px;
        color: #337ab7; }
        .rowProfile .userInfo form .logout:hover {
          color: #23527c;
          text-decoration: underline;
          cursor: pointer; }
      .rowProfile .userInfo form button {
        float: right; }
  .rowProfile .textArrays {
    padding: 0px;
    padding-bottom: 20px; }
    .rowProfile .textArrays ul {
      list-style-type: none;
      padding-left: 0px; }
      .rowProfile .textArrays ul li {
        display: inline; }
        .rowProfile .textArrays ul li .textArrayName {
          font-size: 16px;
          color: #fefbf7;
          background-color: #444444;
          padding: 10px;
          margin-bottom: 5px;
          margin-top: 5px; }
          .rowProfile .textArrays ul li .textArrayName .deleteItem, .rowProfile .textArrays ul li .textArrayName .copy {
            display: inline;
            padding-left: 10px; }
            .rowProfile .textArrays ul li .textArrayName .deleteItem :hover, .rowProfile .textArrays ul li .textArrayName .copy :hover {
              color: #ef143c;
              cursor: pointer;
              /* transitions and animations */
              -webkit-transition: color .5s ease;
              -moz-transition: color .5s ease;
              -ms-transition: color .5s ease;
              -o-transition: color .5s ease;
              transition: color .5s ease; }
        .rowProfile .textArrays ul li .heartIcon {
          color: #ef143c;
          cursor: pointer;
          font-size: 32px;
          x-index: 999;
          position: inherit;
          float: right;
          margin-top: -24px; }
        .rowProfile .textArrays ul li .heartNo {
          color: #fefbf7;
          font-size: 15px;
          float: right;
          width: 32px;
          text-align: center;
          x-index: 1000;
          position: absolute;
          right: 10px;
          margin-top: -17px; }
        .rowProfile .textArrays ul li .textArray {
          font-style: italic;
          margin-bottom: 0px;
          font-size: 16px; }
  .rowProfile .photoArrays {
    padding: 0px;
    padding-bottom: 20px; }
    .rowProfile .photoArrays .photoSearchName {
      margin-top: 0px;
      margin-bottom: 0px; }
      .rowProfile .photoArrays .photoSearchName .deleteItem {
        display: inline;
        padding-left: 10px; }
        .rowProfile .photoArrays .photoSearchName .deleteItem :hover {
          color: #ef143c;
          cursor: pointer;
          /* transitions and animations */
          -webkit-transition: color .5s ease;
          -moz-transition: color .5s ease;
          -ms-transition: color .5s ease;
          -o-transition: color .5s ease;
          transition: color .5s ease; }
    .rowProfile .photoArrays .images {
      padding: 0px;
      padding-bottom: 30px;
      text-align: center; }
      .rowProfile .photoArrays .images img {
        padding-top: 10px;
        width: 200px;
        height: 200px;
        margin: 0px auto;
        display: block; }
      .rowProfile .photoArrays .images div {
        cursor: pointer;
        display: inline-block; }
        .rowProfile .photoArrays .images div :hover {
          color: #ef143c;
          /* transitions and animations */
          -webkit-transition: color .5s ease;
          -moz-transition: color .5s ease;
          -ms-transition: color .5s ease;
          -o-transition: color .5s ease;
          transition: color .5s ease; }
        .rowProfile .photoArrays .images div a {
          text-decoration: none;
          color: #444444; }
        .rowProfile .photoArrays .images div .imgTagSpan, .rowProfile .photoArrays .images div .tagWords {
          color: #444444;
          cursor: pointer; }
          .rowProfile .photoArrays .images div .imgTagSpan :hover, .rowProfile .photoArrays .images div .tagWords :hover {
            color: #ef143c;
            /* transitions and animations */
            -webkit-transition: color .5s ease;
            -moz-transition: color .5s ease;
            -ms-transition: color .5s ease;
            -o-transition: color .5s ease;
            transition: color .5s ease; }

.alertFade {
  padding: 10px;
  background-color: #fefbf7;
  border: 2px solid #ef143c;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  color: #ef143c;
  width: 175px;
  z-index: 900;
  position: fixed;
  left: 50%;
  margin-left: -87.5px;
  top: 25%; }
  .alertFade img {
    height: 100%;
    margin: 0px auto;
    display: block; }
  .alertFade .alertFadeText {
    display: inline;
    text-align: center; }

.tooltip > .tooltip-inner {
  background-color: #2b2b2b;
  color: #fefbf7;
  padding-top: 5px; }

.ttLogOut + .tooltip > .tooltip-arrow {
  border-bottom-color: #2b2b2b; }

.saveButton + .tooltip > .tooltip-arrow {
  border-top-color: #2b2b2b; }

.randomSpan + .tooltip > .tooltip-arrow {
  border-top-color: #2b2b2b;
  padding-bottom: 5px; }

.randomSpan + .tooltip > .tooltip-inner {
  margin-bottom: 5px; }

.copy + .tooltip > .tooltip-arrow {
  border-bottom-color: #2b2b2b; }

body {
  background-color: #ef143c;
  font-family: "Reem Kufi", sans-serif;
  font-size: 18px;
  color: #444444;
  margin-bottom: 30px; }
  body .container-fluid {
    width: 95%; }
  body .m-b-10 {
    margin-bottom: 10px; }
  body input, body button, body textarea {
    border: 1px solid #444444 !important;
    background-color: #fefbf7 !important; }

@media only screen and (max-width: 500px) {
  .rowProfile .photoArrays .images img {
    width: 150px;
    height: 150px; } }

@media only screen and (max-width: 600px) {
  .rowHeader {
    padding-bottom: 10px; }
    .rowHeader .tag {
      display: none; } }
