.rowText {
  padding-top: 50px; }
  .rowText .enterSelectText .checkbox {
    margin-top: 0px; }

.imageResults {
  height: 100%;
  width: 100%;
  margin: 10px;
  display: block; }

.results {
  margin-top: 40px; }
