	//ALERTS
	.alertFade {
		padding: 10px;
		background-color:$offWhite;
		border: 2px solid $red;
		border-radius: 5px;
		box-shadow: 0 5px 5px 0 rgba(#000000, 0.5);
		color: $red;
		width: 175px;
		z-index: 900;
		position: fixed;
		left: 50%;
		margin-left: -87.5px;
		top: 25%;
		img {
			height: 100%;
			margin: 0px auto;
			display: block;
		}
		.alertFadeText {
			display: inline;
			text-align: center;

		}
	}