
.rowHeader {
	background-color: $offWhite;
	padding-top: 25px;
	margin-top: 30px;
	.leftColumn {
		padding-bottom: 12px;
		svg {
			width: 25%;
			margin-top: -26px;
			margin-left: -20px;
			min-width: 95px;
		}
		h1 {
			margin-left: -10px;
			font-family: $titleFont;
			font-size: 60px;
			color: $gray;
			display: inline-block;
			vertical-align: top;

			.blinkingLine {
				border-left: 1px solid $gray;
				display: inline;
				animation: 1.75s blink infinite;
			}
		}		
	}
	.rightColumn {
		.fa-bars {
			font-size: 25px;
			float: right;
			margin-top: -15px;
			color: $gray;
		}
		.menuList {
			animation: 2s fadeIn;
			float: right;
			padding: 10px;
			list-style-type: none;
			background-color: $gray;
			margin-right: -22px;
			margin-top: 15px;
			font-family: $bodyFont;
			font-size: 18px;
			margin-left: 5px;

			li {
				a {
					text-decoration: none !important;
					color: $offWhite;
				}
				:hover {
					text-decoration: none;
				}
			}			
		}
		h3 {
			text-align: right;
			font-family: $titleFont;
			font-size: 34px;
			margin-top: 75px;
			span {
				color: $red;
				.fa-heart {
					font-size: 28px;
				}

			}
		}
	}
}


	