.rowImageSearch {
	min-height: 1150px;
	margin-top: 20px;
	background-color: $offWhite;
	padding:20px;
	form {
		padding-bottom: 20px;
		.searchBox {
			width: 14%;
		}
		button {
			margin-top:20px;
		}
	}		
	.results {
		padding: 0px;
		img{
			margin: 0px auto;
			padding-bottom: 20px;
		}
	}
}
label {
	font-weight:400;
}
.customSize {
	padding-top: 20px;
}
.form-group {
	padding-bottom:20px;
}
.image-fields {
	label {
		width:100%;
	}
}

	


