.rowImageSearch {
	background-color: $offWhite;
	padding-top: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	.imageTitle {
		font-family: $titleFont;
		font-size: 45px;
		color: $offWhite;
		background-color: $gray;
		border-top: 3px solid $red;
		border-bottom: 3px solid $red;
		padding-bottom: 10px;
		margin-bottom: 40px;
		text-align: center;
		.title {
			text-align: center;
		}
	}
	form {
		padding-bottom: 20px;
		padding-left: 0px;
		.searchBox {
			width: 14%;
		}
		.custom {
			margin-top:20px;
		}
	}		
	.results {
		padding: 0px;
		img{
			margin: 0px auto;
			padding-bottom: 20px;
		}
	}
}
.results {
	img {
		max-width: 100%;
	}
}
label {
	font-weight:400;
}
.customSize {
	padding-top: 20px;
}
.form-group {
	padding-bottom:20px;
}
.image-fields {
	label {
		width:100%;
	}
}
.bullet {
	list-style-type:none;
}
.imageButtons {
	display:block;
	padding-left:0px;
	margin-left:-10px;
}
#custom {
	margin-top:0px;
	border:2px solid black;
	margin-left:10px;
	margin-right:0px;
	width:200px;
	margin-bottom:5px;
	text-align:center;
	
}
#submit {
		width:100px;
	}
#save {
	margin-top:0px;
}
#searchBox {
	width:200px;
}
.form-control {
	border:2px solid red;
}
.toolTips {
	margin-left:15px;
	padding-bottom:20px;
}

	


