.rowImageSearch {
	background-color: $offWhite;
	padding-top: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	.imageTitle {
		font-family: $titleFont;
		font-size: 40px;
		color: $offWhite;
		background-color: $gray;
		border-top: 3px solid $red;
		border-bottom: 3px solid $red;
		padding-bottom: 10px;
		margin-bottom: 30px;
		text-align: center;
		.title {
			text-align: center;
		}
		.savePhotos {
			form {
				button {
					z-index: 1000;
					position: absolute;
					font-family: $bodyFont;
					top: 100px;
					right: 15px;
				}	
			}	
		}	
	}
	form {
		.search {
			padding-bottom: 20px;
			.searchBox {
				input {
					width: 250px !important;
					margin-right: 10px;
				}
			}
			.customDrop {
				margin-right: 10px;
				font-size: 15px;
				cursor: pointer;
			}
			.searchButton {
				color: $gray;
			}
		}
		.showImageSize {
			text-align: center;
			.imageSize {
				padding-top: 10px;
				padding-bottom: 10px;
				h4 {
					background-color: $gray;
					color: $offWhite;
					padding-top: 10px;
					padding-bottom: 10px;
				}
				h5 {
					margin: 0px;
					padding-top: 5px;
					float: left;
				}
				p {
					font-size: 20px;
					text-align: left;
					padding-left: 48%;
				}
			}	
		}	
	}
	.searchResults {
		padding-top: 20px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		h4 {
			margin-top: 0px;
			background-color: $gray;
			color: $offWhite;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		img {
			max-width: 100%;
			margin: 0px auto;
			display: block;
		}
		.imgTag, .imageSizeLink {
			cursor: pointer;
			display: block;
			:hover {
				color: $red;
				/* transitions and animations */
				-webkit-transition: color .5s ease;
				-moz-transition: color .5s ease;
				-ms-transition: color .5s ease;
				-o-transition: color .5s ease;
				transition: color .5s ease;	
			}
			a {
				text-decoration: none;
				color: $gray;
			}
		}		
	}
}



	


