.rowText {
	padding-top: 50px;
	margin-top: 20px;
	padding-bottom: 20px;
	background-color: $offWhite;	
	
	// LEFT COLUMN
	.enterSelectText {
		margin-top: 20px;
		.userText {
			margin-bottom: 0px;
			padding-bottom: 0px;
			.userTextLabel {
				display: inline !important;
				div {
					display: inline;
					span {
						float: right;
						font-size: 16px;
					}	
					input {
						display: inline !important;
						width: 15%;
						margin-bottom: 2px;
						float: right;
						height: 25px;
						margin-left: 10px;
					}
				}	
			}
			.saveButton {
				cursor: pointer;
				margin-left: 10px;
			}
		}	
		.standardLorems {
			padding-left: 0px;
			padding-right: 0px;
			h4 {
				color: $offWhite;
				background-color: $gray;
				padding: 10px;
			}
			span {
				i {
					color: $green;
				}
			}
			label {
			}
			input[type="checkbox"] {
	  			display: none;
			}
			input[type="checkbox"]:checked + label {
	  			color: $red;
	  		}
	  		.checkboxLabel:hover {
	  			color: $red;
	  			cursor: pointer;
				/* transitions and animations */
				-webkit-transition: color .5s ease;
				-moz-transition: color .5s ease;
				-ms-transition: color .5s ease;
				-o-transition: color .5s ease;
				transition: color .5s ease;
			}
			.checkbox {
				margin-top: 0px;
				margin-left: -20px;
			}
			.exText {
				font-style: italic;
				font-size: 15px;
				color: lighten($gray, 25);
				margin-left: 20px;
				margin-bottom: 2px;
			}
		}
		.standardLoremPercentages {
			padding-left: 0px;
			padding-right: 0px;			
			h4 {
				color: $offWhite;
				background-color: $gray;
				padding: 10px;
				text-align: right;
				margin-bottom: 20px;
			}
			
			input {
				width: 55%;
				float: right;
			}
			#loremPercentInput {
				margin-bottom: 22px;
			}
			#gibberishPercentInput {
				margin-bottom: 23px;
			}
			#hipsterPercentInput {
				margin-bottom: 23px;
			}
		}	
		.wordTotalSubmit {
			margin-left: -15px;
			.wordTotal {
				margin-top: 25px;
				input {
					width: 20%;
					display: inline-block;
					margin-left: 5px;
				}
			}
			button {
				margin-right: 10px;
			}
			.random {
				color: $red;
			}	
		}
	}

	//RIGHT COLUMN
	.userArrays {
		.navLinks {
			text-align: right;
			padding-top:15px;
			margin-bottom: -5px;
			ul {
				list-style-type: none;
				li {
					display: inline-block;
					cursor: pointer;
				}
				.active {
					color: $red;
				}
			}	
		}
		.nothingHere {
			border: 1px solid $gray;
			width: 75%;
			text-align: center;
			margin: 0px auto;
			display: block;
			padding-bottom: 20px;
			margin-top: 50px;
			h3 {
				color: $red;
				// font-style: italic;
			}
			p {
				font-size: 25px;
				margin-bottom: 0px;
			}	
			span {
				font-family: $titleFont;
				font-size: 38px;
				margin-left: 5px;
			}	
				.blinkingLine {
					margin-left: -8px;
					border-left: 1px solid $gray;
					width: 100px;
					display: inline;
					animation: 1.75s blink infinite;
				}
		}

		ul {
			list-style-type: none;
			.publicArrays {
				display: inline;
				.textArrayName {
					font-size: 16px;
					color: $offWhite;
					background-color: $gray;
					padding: 10px;
					margin-bottom: 5px;
					margin-top: 5px;
					.check {
						display: inline;
				  		.checkSpan:hover{
					  		color: $red;
					  		cursor: pointer;
							/* transitions and animations */
							-webkit-transition: color .5s ease;
							-moz-transition: color .5s ease;
							-ms-transition: color .5s ease;
							-o-transition: color .5s ease;
							transition: color .5s ease;		
				  			i {
					  			color: $green;
					  			cursor: pointer;
								/* transitions and animations */
								-webkit-transition: color .5s ease;
								-moz-transition: color .5s ease;
								-ms-transition: color .5s ease;
								-o-transition: color .5s ease;
								transition: color .5s ease;
							}	
						}
					}
					.userPecentage {
						display: inline;
						margin-left: 20px;
						input {
							display: inline;
							width: 80px;
							height: 25px;
						}
						span {
							display: inline;
							padding-right: 5px;
							font-size: 16px;
						}
					}
				}
				.heartIcon {
					color: $red;
					cursor: pointer;
					font-size: 32px;
					x-index: 999;
					position: inherit;
					float: right;
					margin-top: -6px;
				}
				.heartNo {
					color: $offWhite;
					font-size: 15px;
					float: right;
					width: 32px;
					text-align: center;
					x-index: 1000;
					position: absolute;
					right: 25px;

				}	
				.textArray {
					font-style: italic;
					margin-bottom: 0px;
					font-size: 16px;	
				}
				.userNameGroup {
				font-style: normal;
				font-size: 16px;
					.userName {
						color: $red;
						.userNameBy {
							color: $gray;
						}
					}
				}
			}
		}
		.pagination {
			float: right;
			li {
				a {
					background-color: $offWhite;
					color: $gray;
					border: 1px solid $gray;
					padding: 6px;
					padding-left: 12px;
					padding-right: 12px;
				}
			}

		}	
	}	

	// MODALS
	.modalSave, .modal {
		.modal-content {
			padding: 20px;
			background-color: $offWhite;
			.modal-header {
				h2 {
					text-align: center;
				}
			}
			i {
				float: right;
				margin-bottom: 10px;
			}
			.modal-body {
				padding-top: 10px;
				textarea {
					padding: 12px;
				}
			}

			.form-group {
				padding-top: 10px;
			}	
			.checkboxPrivate {
				display: inline-block;
				font-size: 15px;
				float: right;
				input {
					border: 1px solid $gray !important;
					background-color: $offWhite !important;	
				}
			}	
		}	
	}
		
}