.rowText {
	padding-top: 50px;
	margin-top: 20px;
	background-color: $offWhite;	
	// LEFT COLUMN
	.enterSelectText {
		margin-top: 20px;
		.userText {
			.userTextLabel {
				display: inline !important;
				div {
					display: inline;
					span {
						float: right;
						font-size: 16px;
					}	
					input {
						display: inline !important;
						width: 15%;
						margin-bottom: 2px;
						float: right;
						// margin-top: -5px;
						margin-left: 10px;
					}
				}	
			}
			.saveButton {
				cursor: pointer;
				margin-left: 10px;
			}
		}	
		.standardLorems {
			span {
				i {
					color: $green;
				}
			}
			label {
				padding-top: 2px;
				padding-bottom: 2px;
			}
			input[type="checkbox"] {
	  			display: none;
			}
			input[type="checkbox"]:checked + label {
	  			color: $red;
	  		}
	  		.checkboxLabel:hover {
	  			color: $red;
	  			cursor: pointer;
				/* transitions and animations */
				-webkit-transition: color .5s ease;
				-moz-transition: color .5s ease;
				-ms-transition: color .5s ease;
				-o-transition: color .5s ease;
				transition: color .5s ease;
			}
			.checkbox {
				margin-top: 0px;
				margin-left: -20px;
			}
		}
		.standardLoremPercentages {
			input {
				margin-bottom: 5px;
			}
		}	
		button {
			margin-right: 10px;
		}


		.wordTotal {
			input {
				width: 25%;
				display: inline-block;
				margin-left: 5px;
			}
		}
	}

	//RIGHT COLUMN
	.userArrays {
		.publicArrays {
			.textArrayName {
				font-size: 18px;
				color: $offWhite;
				background-color: $gray;
				// padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 10px;
				padding-top: 10px;

				.checkbox {
					input[type="checkbox"] {
			  			// display: none;
					}
					input[type="checkbox"]:checked + label {
			  			color: $red;
			  		}
			  // 		.checkboxLabel:hover {
			  // 			color: $red;
			  // 			cursor: pointer;
					// 	/* transitions and animations */
					// 	-webkit-transition: color .5s ease;
					// 	-moz-transition: color .5s ease;
					// 	-ms-transition: color .5s ease;
					// 	-o-transition: color .5s ease;
					// 	transition: color .5s ease;
					// }
				}
				.userName {
					float: right;
					padding-right: 10px;
				}
				.heart {
					color: $red;
					cursor: pointer;
					float: right;
					.heartNo {
						color: $offWhite;
						font-size: 15px;
						z-index: 1000;
						position: absolute;
						margin-top: -23px;
						left: 548px; 
						width: 30px;
						text-align: center;					
					}
					.heartIcon {
						font-size: 30px;
						margin-top: -5px;
						x-index: 999;
						position: inherit;
					}
				}	
			}
			.textArray {
				font-style: italic;
			}
		}
	}	

	// SAVE MODAL
	.modalSave {
		.modal-content {
			padding: 20px;
			background-color: $offWhite;
			.modal-header {
				button {
					color: $gray;
				}
				h2 {
					text-align: center;
				}
			}
			.form-group {
				padding-top: 10px;
			}	
			input, textarea, button {
				border: 1px solid $gray;
				background-color: $offWhite;
			}
			.checkboxPrivate {
				display: inline-block;
				font-size: 15px;
				float: right;
				input {
					border: 1px solid $gray !important;
					background-color: $offWhite !important;	
				}
			}	
		}	
	}	
}