

.tooltip > .tooltip-inner {
  background-color: darken($gray, 10);
  color: $offWhite;
  padding-top:5px;
}
 .ttLogOut + .tooltip > .tooltip-arrow { 
  border-bottom-color: darken($gray, 10);
}

.saveButton + .tooltip > .tooltip-arrow { 
  border-top-color: darken($gray, 10);
}

.randomSpan + .tooltip > .tooltip-arrow { 
  border-top-color: darken($gray, 10);
  padding-bottom: 5px;
}
.randomSpan + .tooltip > .tooltip-inner {
  margin-bottom: 5px;
}
 .copy + .tooltip > .tooltip-arrow { 
  border-bottom-color: darken($gray, 10);
}

