$titleFont: 'Rochester', cursive;
$bodyFont: 'Reem Kufi', sans-serif;
$gray: #444444;
$red: #ef143c;
$offWhite: #fefbf7;

@import "text";
@import "results";
@import "animations";
@import "header";




body {
	background-color: $red;
	font-family: $bodyFont;
	font-size: 18px;
	color: $gray;
}
.container-fluid {
	width: 95%;
}

.rowText {
	margin-top: 20px;
	background-color: $offWhite;
	padding: 20px;
}

.rowImageSearch {
	margin-top: 20px;
	background-color: $offWhite;
	padding:20px;
}
.rowRegister {
	margin-top: 20px;
	background-color: $offWhite;
	padding:20px;
}
.rowLogin {
	margin-top: 20px;
	background-color: $offWhite;
	padding:20px;
}