$titleFont: 'Rochester', cursive;
$bodyFont: 'Reem Kufi', sans-serif;
$gray: #444444;
$red: #ef143c;
$offWhite: #fefbf7;

@import "text";
@import "results";
@import "animations";
@import "header";




body {
	background-color: $red;
}
.container-fluid {
	width: 95%;
}

.rowMain {
	margin-top: 20px;
	background-color: $offWhite;
	padding: 20px;
}