$titleFont: 'Rochester', cursive;
$bodyFont: 'Reem Kufi', sans-serif;
$gray: #444444;
$red: #ef143c;
$offWhite: #fefbf7;

@import "text";
@import "imageSearch";
@import "animations";
@import "header";
@import "registerLogin";

body {
	background-color: $red;
	font-family: $bodyFont;
	font-size: 18px;
	color: $gray;
	.container-fluid {
		width: 95%;
	}
}

.m-b-10 {
	margin-bottom: 10px;
}
