<div class = "row rowHeader">
	<div class = "col-xs-6 leftColumn">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
			<style type="text/css">
								.st0{fill:none;stroke:#444444;stroke-width:12;stroke-miterlimit:10;}
								.st1{fill:#EF143C;stroke:#444444;stroke-width:8;stroke-miterlimit:10;}
			</style>
			<path class="st0" d="M440.2,212.7c0-85.6-80.1-155.3-178.9-155.3S82.5,127.1,82.5,212.7S162.6,368,261.4,368
				c35.1,0,68.6-8.8,98.2-25.2c4.4-2.2,9.3-2.2,13.7,0c12.6,7.7,27.4,12.1,44.4,12.6c-8.2-8.8-14.3-19.2-19.2-31.8
				c-1.6-4.9-0.5-10.4,2.7-14.3C426.5,281.9,440.2,248.4,440.2,212.7z"/>
				<path class="st1" d="M242.8,112.3l73.2,2.4l-48.2,71.7l64.1,2.1L208.7,312.7l39.7-90.3l-54.9-1.8L242.8,112.3z"/>
			</svg>
			<h1>::placeholder<span class = "blinkingLine"></span></h1>
		</div>
		<div class = "col-xs-6 rightColumn">
			
			<i class="fa fa-bars" aria-hidden="true" ng-click="vis = !vis"></i>
			<ul class = "menuList" ng-show="vis" ng-animate="{show: 'menu-show', hide: 'menu-hide'}">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="login">Log In</a></li>
				<li><a ui-sref="register">Sign Up</a></li>
				<li ng-show = "controller.loggedIn"><a ui-sref="profile">Profile</a></li>
			</ul>
			<div class = "welcome" ng-show = "controller.loggedIn">
				<h4 >oh hey <a ui-sref="profile">{{controller.user.userName}}</a>! <i class="fa fa-sign-out" ng-click="controller.logout()"aria-hidden="true"></i></h4>
		
			</div>	
			<h3>fill that empty place in your <span><i class="fa fa-heart" aria-hidden="true"></i></span></h3>
		</div>
	</div>