<div class = "row rowHeader">
	<div class = "col-xs-12 rightColumn">
		<i class="fa fa-bars" aria-hidden="true" ng-click="vis = !vis"></i>
		<ul class = "menuList" ng-show="vis" ng-animate="{show: 'menu-show', hide: 'menu-hide'}">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="login">Log In</a></li>
			<li><a ui-sref="register">Sign Up</a></li>
			<li ng-show = "controller.loggedIn"><a ui-sref="profile">Profile</a</li>
		</ul>
		<div class = "welcome" ng-show = "controller.loggedIn">
			<a ui-sref="profile"><span>oh hey </span>{{controller.user.userName}}!</a><i class="fa fa-sign-out" ng-click="controller.logout()"aria-hidden="true"></i>
		</div>
	</div>
	<div class = "col-xs-12 leftColumn">
		<img src = "images/logo.svg">
		<h1>::placeholder<span class = "blinkingLine"></span></h1>
	</div>
	<div class = "col-xs-12">
		<div class = "tag">
			<h3>fill that empty place in your <span><i class="fa fa-heart" aria-hidden="true"></i></span></h3>
		</div>	
	</div>
</div>
