<div class = "row rowLogin">	
	<div class=" col-xs-12 login">
		<div ng-show="controller.selected" class="loginError alert alert-warning alert-dismissible " role="alert">
			<p class="animated infinite pulse">Your log in information is incorrect. Please try again.</p>
		</div>
		<form ng-submit="controller.submit()">
			<div class="form-group">				
				<h2>Log In</h2>
					<input class="form-control m-b-10" type="text" placeholder="Email Address" ng-model="controller.form.email" required>
					<input class ="form-control m-b-10" type="password" placeholder="Password" ng-model="controller.form.password" required>
				<a ui-sref="register">Need to sign up?</a>
				<button class = "btn btn-default" type="submit">Log In</button>
			</div>	
		</form>
	</div>
</div>	
