<div class = "row rowProfile">
 
<!-- 	SAVED USER TEXT --> 
 	<div class = "col-xs-12 textArrays">
 		<ul> 
 			<li ng-repeat = "projects in controller.projects | filter: savedImage1 === null | orderBy:'-dateTime'">
 		        <article>
 		     	   	<h3 class = "textArrayName">
 		            	<div class = "check">
 			                <span class = "checkSpan" ng-click="controller.clickedBox(arrays.textArray)">
 			                    {{projects.textArrayName}} 
 			                   	<i class="fa fa-check" aria-hidden="true"></i>
 				            </span>
 						</div>
 			            <span>
 							<i class="fa fa-heart heartIcon" aria-hidden="true"></i>
 							<span class = "heartNo">{{projects.textVotes}}</span>	
 						</span>	
 			        </h3>
 				    <p class = "textArray">
 				        {{projects.textArray}}
 				    </p>		                    	      
 			   	</article>
 			</li>
 		</ul>
 	</div>

<!--  	SAVED USER PHOTOS -->
 	<div class = "row rowPhotos">
 		<div ng-show = "projects.savedImage1" ng-repeat = "projects in controller.projects | orderBy:'-dateTime'">
 			<div class = "col-xs-12">
 				<h3 class = "photoSearchName">
 					{{projects.searchTerm}}
 				</h3>
 			</div>	
 			<div class = "col-xs-12 images">
 				<div class = "col-xs-3 image1">
 					<img src="{{projects.savedImage1}}">
 					<div class = "imageSize">
	 					Actual Size: {{projects.savedImage1Width}}<span class = "x">x</span>{{projects.savedImage1Height}}
	 				</div>
	 				<a href = "{{projects.savedImage1}}" target="_blank"><span class = "imageLink">View image</span></a>
	 				<div class = "imgTagSpan" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage1)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i> &lt;cpy img tag&gt;
	 		    	</div>

 				</div>
 				<div class = "col-xs-3 image2">
 					<img src="{{projects.savedImage2}}" target="_blank"">
 					 <div class = "imageSize">
	 					Actual Size: {{projects.savedImage2Width}}<span class = "x">x</span>{{projects.savedImage2Height}}
	 				</div>
	 				<a href = "{{projects.savedImage2}}"><span class = "imageLink">View image</span></a>
	 				<div class = "imgTagSpan" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage2)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i> &lt;cpy img tag&gt;
	 		    	</div>
 				</div>
 				<div class = "col-xs-3 image3">
 					<img src="{{projects.savedImage3}}" target="_blank"">
 					 <div class = "imageSize">
	 					Actual Size: {{projects.savedImage3Width}}<span class = "x">x</span>{{projects.savedImage3Height}}
	 				</div>
	 				<a href = "{{projects.savedImage3}}"><span class = "imageLink">View image</span></a>
	 				<div class = "imgTagSpan" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage3)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i> &lt;cpy img tag&gt;
	 		    	</div>
 				</div>					
 				<div class = "col-xs-3 image4">
 					<img src="{{projects.savedImage4}}">
 					<div class = "imageSize">
	 					Actual Size: {{projects.savedImage4Width}}<span class = "x">x</span>{{projects.savedImage4Height}}
	 				</div>
	 				<a href = "{{projects.savedImage4}}" target="_blank""><span class = "imageLink">View image</span></a>
	 				<div class = "imgTagSpan" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage4)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i> &lt;cpy img tag&gt;
	 		    	</div>
 				</div>
 			</div>
 		</div>
 	</div>						
 
 
 	<!-- ALERTS -->
 	<div ng-show="controller.copied" class="copied alertFade">
 		<img src ="images/logo.svg">
   		<span class = "alertFadeText"><h4>Copied!</h4></span>
 	</div>			
 </div>