<div class = "row rowProfile">
	<div class = "col-xs-12 navLinks">
		<ul>
			<li ng-class = "{active: controller.showInfo}" ng-click="controller.showInfo = !controller.showInfo; controller.showText = false; controller.showPhoto = false">My Info</li>		
		   	<span> | </span>		    
		    <li ng-class = "{active: controller.showText}" ng-click="controller.showText = !controller.showText; controller.showInfo = false; controller.showPhoto = false">Saved Texts</li>
		    <span> | </span>
		    <li ng-class = "{active: controller.showPhoto}" ng-click="controller.showPhoto = !controller.showPhoto; controller.showInfo = false; controller.showText = false">Saved Images</li>
		</ul>
	</div>

	<!-- USER INFO -->
	<div ng-show = "controller.showInfo" class = "col-xs-12 userInfo">
		<form name="myForm" ng-submit="controller.update()">
			<input class="form-control m-b-10" type="text" ng-model="controller.form.firstName" required>
			<input class="form-control m-b-10" type="text" ng-model="controller.form.lastName" required>
			<input class="form-control m-b-10" type="text" ng-model="controller.form.email" required>
			<input class="form-control m-b-10" type="text" ng-model="controller.form.userName" required>
			<input class="form-control m-b-10" type="password" ng-model="controller.form.password" required>
			<span class = "logout" ng-click = "controller.logout()">Log out :-(</span>
			<button class = "btn btn-default" type="submit">Update</button>
		</form>
	</div>
 
	<!--SAVED USER TEXT --> 
 	<div ng-show = "controller.showText" class = "col-xs-12 textArrays">
 		<div class = "nothingHere" ng-hide = "controller.textPresent">
 			<h3>Ohhhh Noooo!</h3>
 			<p>Nothing's here yet. Start saving your
 			<span class = "title">
 				::placeholder
 				<span class = "blinkingLine">
 				</span>
 			</span> 
 			text & images to use later.</p>
 		</div>
 		<ul> 
 			<li ng-show = "projects.textArrayName" ng-repeat = "projects in controller.projects | orderBy:'-dateTime'">
 		        <article>
 		     	   	<h3 class = "textArrayName">
 		            	<div class = "name">
 			                    {{projects.textArrayName}}
 			              	<div class = "deleteItem" ng-click = "controller.deleteItem(projects)">
 								<i class="fa fa-trash-o" aria-hidden="true"></i>
 							</div> 
 						</div>
 			            <span>
 							<i class="fa fa-heart heartIcon" aria-hidden="true"></i>
 							<span class = "heartNo">{{projects.textVotes}}</span>	
 						</span>	
 			        </h3>
 				    <p class = "textArray">
 				        {{projects.textArray}}
 				    </p>		                    	      
 			   	</article>
 			</li>
 		</ul>
 	</div>

	<!--SAVED USER PHOTOS -->
 	<div ng-show = "controller.showPhoto" class = "col-xs-12 photoArrays">
 		<div class = "nothingHere" ng-hide = "controller.textPresent">
 			<h3>Ohhhh Noooo!</h3>
 			<p>Nothing's here yet. Start saving your
 			<span class = "title">
 				::placeholder
 				<span class = "blinkingLine">
 				</span>
 			</span> 
 			text & images to use later.</p>
 		</div>
 		<div ng-show = "projects.savedImage1" ng-repeat = "projects in controller.projects | orderBy:'-dateTime'">
			<h3 class = "photoSearchName">
 				{{projects.searchTerm}}
 				<div class = "deleteItem" ng-click = "controller.deleteItem(projects)">
 					<i class="fa fa-trash-o" aria-hidden="true"></i>
 				</div>
 			</h3>
 			<div class = "col-xs-12 images">
 				<div class = "col-md-3 col-sm-4 col-xs-6 image1">
 					<img src="{{projects.savedImage1}}">
 					<div class = "imageSizeLink">
	 					<a href = "{{projects.savedImage1}}" target="_blank">
	 						{{projects.savedImage1Width}}<span class = "x">x</span>{{projects.savedImage1Height}}
		 					<span class = "imageLink">view image</span>
		 				</a>
	 				</div>
	 				<div class = "imgTag" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage1)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i><span class = "tag"> &lt;copy img tag&gt;</span>
	 		    	</div>

 				</div>
 				<div class = "col-md-3 col-sm-4 col-xs-6 image2">
 					<img src="{{projects.savedImage2}}" target="_blank"">
 					<div class = "imageSizeLink">
	 					<a href = "{{projects.savedImage2}}" target="_blank">
	 						{{projects.savedImage2Width}}<span class = "x">x</span>{{projects.savedImage2Height}}
		 					<span class = "imageLink">view image</span>
		 				</a>
	 				</div>
	 				<div class = "imgTag" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage2)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i><span class = "tag"> &lt;copy img tag&gt;</span>
	 		    	</div>
 				</div>
 				<div class = "col-md-3 col-sm-4 col-xs-6 image3">
 					<img src="{{projects.savedImage3}}" target="_blank"">
 					<div class = "imageSizeLink">
	 					<a href = "{{projects.savedImage3}}" target="_blank">
	 						{{projects.savedImage3Width}}<span class = "x">x</span>{{projects.savedImage3Height}}
		 					<span class = "imageLink">view image</span>
		 				</a>
	 				</div>
	 				<div class = "imgTag" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage3)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i><span class = "tag"> &lt;copy img tag&gt;</span>
	 		    	</div>
 				</div>					
 				<div class = "col-md-3 col-sm-4 col-xs-6 image4">
 					<img src="{{projects.savedImage4}}">
 					<div class = "imageSizeLink">
	 					<a href = "{{projects.savedImage4}}" target="_blank">
	 						{{projects.savedImage4Width}}<span class = "x">x</span>{{projects.savedImage4Height}}
		 					<span class = "imageLink">view image</span>
		 				</a>
	 				</div>
	 				<div class = "imgTag" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage4)" on-error="controller.fail(err)">
	 		    		<i class="fa fa-files-o" aria-hidden="true"></i><span class = "tag"> &lt;copy img tag&gt;</span>
	 		    	</div>
 				</div>
 			</div>
 		</div>
 	</div>						
 
 
 	<!-- ALERTS -->
 	<div ng-show="controller.copied" class="copied alertFade">
 		<img src ="images/logo.svg">
   		<span class = "alertFadeText"><h4>Copied!</h4></span>
 	</div>
 	
 	<div ng-show="controller.updated" class="updated alertFade">
 		<img src ="images/logo.svg">
   		<span class = "alertFadeText"><h4>Updated!</h4></span>
 	</div>

 	<div ng-show="controller.deleted" class="updated alertFade">
 		<img src ="images/logo.svg">
   		<span class = "alertFadeText"><h4>Deleted!</h4></span>
 	</div>				
 </div>
 <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>