<div class = "row rowRegister">
	<div class = "col-xs-12">
		<h2>Sign Up</h2>
		<form name="myForm" ng-submit="controller.submit()">
			<input class="form-control m-b-10" type="text" placeholder="First Name" ng-model="controller.form.firstName" required>
			<div role="alert">
			<input class="form-control m-b-10" type="text" placeholder="Last Name" ng-model="controller.form.lastName" required>
			<input class="form-control m-b-10" type="text" placeholder="Email Address" ng-model="controller.form.email" required>
			<input class="form-control m-b-10" type="text" placeholder="User Name" ng-model="controller.form.userName" required>
			<input class="form-control m-b-10" type="password" placeholder="Password" ng-model="controller.form.password" required>
			<a ui-sref="login">Already joined?</a>
			<button class = "btn btn-default" type="submit">Sign Up</button>
		</form>
	</div>
</div>	

