<div class = "row rowProfile">
	<div class="col-xs-12 profile" ng-repeat="projects in controller.projects">
		<h4 ng-show="projects.textArrayName" class="taco">{{projects.textArrayName}}</h4>
		<p ng-show="projects.textArray" class="taco">{{projects.textArray}}</p>
		<img ng-show="projects.savedImage1" src="{{projects.savedImage1}}">
		<img ng-show="projects.savedImage2" src="{{projects.savedImage2}}">
		<img ng-show="projects.savedImage3" src="{{projects.savedImage3}}">
		<img ng-show="projects.savedImage4" src="{{projects.savedImage4}}">
	
	</div>
</div>
	


