<div class = "row rowProfile">

	<!-- USER SAVED TEXT  -->
	<div class = "col-xs-12 textArrays">
		<ul> 
			<li ng-repeat = "projects in controller.projects | filter: savedImage1 === null | orderBy:'-dateTime'">
		        <article>
		     	   	<h3 class = "textArrayName">
		            	<div class = "check">
			                <span class = "checkSpan" ng-click="controller.clickedBox(arrays.textArray)">
			                    {{projects.textArrayName}} 
			                   	<i class="fa fa-check" aria-hidden="true"></i>
				            </span>
						</div>
			            <span>
							<i class="fa fa-heart heartIcon" aria-hidden="true"></i>
							<span class = "heartNo">{{projects.textVotes}}</span>	
						</span>	
			        </h3>
				    <p class = "textArray">
				        {{projects.textArray}}
				    </p>		                    	
			   	</article>
			</li>
		</ul>
	</div>

	<!-- USER SAVED PHOTOS -->
	<div class = "row rowPhotos">
		<div ng-show = "projects.savedImage1" ng-repeat = "projects in controller.projects | orderBy:'-dateTime'">
			<div class = "col-xs-12">
				<h3 class = "photoSearchName">
					{{projects.searchTerm}}
				</h3>
			</div>
			
			<div class = "row rowImage1">
				<div class = "col-xs-6 image1">
					<img src="{{projects.savedImage1}}">
				</div>
				<div class = "col-xs-6 image1Details">
					<div class = "imageSize">
					{{projects.savedImage1Width}}x{{projects.savedImage1Height}}
					</div>
					<a href = "{{projects.savedImage1}}"><button class = "btn btn-default">View Image</button></a>
					<form class="form-inline">
			  			<div class="form-group">
			    			<label for="imgTag">Image Tag</label>
			    			<i class="fa fa-files-o" aria-hidden="true" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage1)" on-error="controller.fail(err)"></i>
			    			<textarea class="form-control" id = "imgTag" rows="1" readonly wrap = "off">&lt;img src = "{{projects.savedImage1}}"&gt;</textarea>
			  			</div>
			  		</form>
				</div>
			</div>

			<div class = "row rowImage2">
				<div class = "col-xs-6 image2">
					<img src="{{projects.savedImage2}}">
				</div>
				<div class = "col-xs-6 image2Details">
					<div class = "imageSize">
					{{projects.savedImage2Width}}x{{projects.savedImage2Height}}
					</div>
					<a href = "{{projects.savedImage2}}"><button class = "btn btn-default">View Image</button></a>
					<form class="form-inline">
			  			<div class="form-group">
			    			<label for="imgTag">Image Tag</label>
			    			<i class="fa fa-files-o" aria-hidden="true" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage2)" on-error="controller.fail(err)"></i>
			    			<textarea class="form-control" id = "imgTag" rows="1" readonly wrap = "off">&lt;img src = "{{projects.savedImage2}}"&gt;</textarea>
			  			</div>
			  		</form>
				</div>
			</div>	

			<div class = "row rowImage3">
				<div class = "col-xs-6 image3">
					<img src="{{projects.savedImage3}}">
				</div>
				<div class = "col-xs-6 image3Details">
					<div class = "imageSize">
					{{projects.savedImage3Width}}x{{projects.savedImage3Height}}
					</div>
					<a href = "{{projects.savedImage3}}"><button class = "btn btn-default">View Image</button></a>
					<form class="form-inline">
			  			<div class="form-group">
			    			<label for="imgTag">Image Tag</label>
			    			<i class="fa fa-files-o" aria-hidden="true" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage3)" on-error="controller.fail(err)"></i>
			    			<textarea class="form-control" id = "imgTag" rows="1" readonly wrap = "off">&lt;img src = "{{projects.savedImage3}}"&gt;</textarea>
			  			</div>
			  		</form>
				</div>
			</div>

			<div class = "row rowImage4">
				<div class = "col-xs-6 image4">
					<img src="{{projects.savedImage4}}">
				</div>
				<div class = "col-xs-6 image4Details">
					<div class = "imageSize">
					{{projects.savedImage4Width}}x{{projects.savedImage4Height}}
					</div>
					<a href = "{{projects.savedImage4}}"><button class = "btn btn-default">View Image</button></a>
					<form class="form-inline">
			  			<div class="form-group">
			    			<label for="imgTag">Image Tag</label>
			    			<i class="fa fa-files-o" aria-hidden="true" clipboard supported="controller.supported" on-copied="controller.success(projects.savedImage4)" on-error="controller.fail(err)"></i>
			    			<textarea class="form-control" id = "imgTag" rows="1" readonly wrap = "off">&lt;img src = "{{projects.savedImage4}}"&gt;</textarea>
			  			</div>
			  		</form>
				</div>
			</div>						
		</div>	
	</div>						


	<!-- ALERTS -->
	<div ng-show="controller.copied" class="copied alertFade">
		<img src ="images/logo.svg">
  		<span class = "alertFadeText"><h4>Copied!</h4></span>
	</div>			
</div>
	


