<main>
<div class="row rowImageSearch">
	<div class="toolTips">
	<h3>Search for an Image and Save it to Your Profile</h3>
		</div>
	<form class="form-inline" ng-submit="vm.search()">
		<div class="theButtons">
			<div class="form-group">
				<form class="col-xs-12 form-inline" ng-submit="vm.savePhotos()">
					<div class = "form-group col-sm-12 imageButtons">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<input type="text" class="form-control searchBox col-lg-2" id="custom" placeholder="Image Search" ng-model="vm.getInfo"></input>
						</div>
			
						<div class="col-md-3 col-sm-12">
							<button class="btn btn-default submit" type="submit" id="custom" ng-click = "searchResults = true">Search</button>
						</div>
						<div class="btn-group col-md-3 col-sm-12">
							<button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="custom" ng-click="vis = !vis">I want custom pixel sizes <span class="caret"></span></button>
						</div>
					</div>
				</form>
				<div class="form-group col-lg-4 col-md-12">
					<form class="col-md-3 col-sm-12 form-inline" ng-submit="vm.savePhotos()">
						<button class="btn btn-default" id="save" ng-show = "vm.loggedIn" data-target=".modalSave">Save Images to Profile</button>
					</form>
				</div>
	
			</div>
		</div>
	</form>

		<div class="col-md-12">
			<div class="row image-fields" ng-show="vis">
				<div class="col-lg-3 col-md-6 col-sm-6"><label>Image 1</label>
					<h6>width in px</h6>
					<input class="form-control" value="" ng-model="vm.image1.width"></input><p>x</p>
					<h6>height in px</h6>
					<input class="form-control" value="" ng-model="vm.image1.height" ></input>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6"><label>Image 2</label>
					<h6>width in px</h6>
					<input class="form-control" value="" ng-model="vm.image2.width"></input><p>x</p>
					<h6>height in px</h6>
					<input class="form-control" value="" ng-model="vm.image2.height"></input>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6"><label>Image 3</label>
					<h6>width in px</h6>
					<input class="form-control" value="" ng-model="vm.image3.width"></input><p>x</p>
					<h6>height in px</h6>
					<input class="form-control" value="" ng-model="vm.image3.height"></input>					
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6"><label>Image 4</label>
					<h6>width in px</h6>
					<input class="form-control" value="" ng-model="vm.image4.width"></input><p>x</p>
					<h6>height in px</h6>
					<input class="form-control" value="" ng-model="vm.image4.height"></input>					
				</div>
			</div>
				
			
				
		</div>	
	</form>


	

	<div class="results">
		
		<div class = "col-lg-3 col-md-12" ng-hide="searchResults">
			<img src="http://placehold.it/125x125">
		</div>
		<div class = "col-lg-3 col-md-12" ng-show="searchResults">
			<img src="{{vm.data.contentUrl}}">
			<figcaption>{{vm.image1.width}}x{{vm.image1.height}}</figcaption>
		</div>
		
		<div class = "col-lg-4 col-md-12" ng-hide="searchResults">
			<img src="http://placehold.it/250x250">
			
		</div>
		<div class = "col-lg-4 col-md-12" ng-show="searchResults">
			<img src="{{vm.data1.contentUrl}}">
			<figcaption>{{vm.image2.width}}x{{vm.image2.height}}</figcaption>
		</div>

		<div class = "col-lg-4 col-md-12" ng-hide="searchResults">
			<img src="http://placehold.it/400x400">
			
		</div>
		<div class = "col-lg-4 col-md-12" ng-show="searchResults">
			<img src="{{vm.data2.contentUrl}}">
			<figcaption>{{vm.image3.width}}x{{vm.image3.height}}</figcaption>
		</div>
		<div class = "col-xs-12 check-element" ng-hide="searchResults">
			<img src="http://placehold.it/600x600">
			
		</div>
		<div class = "col-xs-12 check-element" ng-show="searchResults">
			<img src="{{vm.data3.contentUrl}}">
			<figcaption>{{vm.image4.width}}x{{vm.image4.height}}</figcaption>
		</div>
	</div>
		<!-- ALERT -->
	<div ng-show="controller.saved" class="saved alertFade">
		<img src ="images/logo.svg">
  		<span class = "alertFadeText"><h4>Saved!</h4></span>
	</div>
</div>
</main>
