<div class="row rowImageSearch">
	<form class="col-xs-12 form-inline" ng-submit="vm.search()">
		<div class = "form-group col-lg-12">
			<input type="text" class="form-control searchBox col-lg-2" placeholder="Image Search" ng-model="vm.getInfo"></input>
		</div>
		<div class="col-md-12">
			<div class="row image-fields">
				<div class="col-lg-3"><label>Image 1</label>
					<input value="" ng-model="vm.image1.height"></input><p>x</p>
					<input value="" ng-model="vm.image1.width"></input>
				</div>
				<div class="col-lg-3"><label>Image 2</label>
					<input value="" ng-model="vm.image2.height"></input><p>x</p>
					<input value="" ng-model="vm.image2.width"></input>
				</div>
				<div class="col-lg-3"><label>Image 3</label>
					<input value="" ng-model="vm.image3.height"></input><p>x</p>
					<input value="" ng-model="vm.image3.width"></input>
				</div>
				<div class="col-lg-3"><label>Image 4</label>
					<input value="" ng-model="vm.image4.height"></input><p>x</p>
					<input value="" ng-model="vm.image4.width"></input>
				</div>
				<div class="col-md-12">
					<button class="btn btn-default" type="submit" ng-click = "searchResults = true">Search</button>
				</div>
			</div>
				
		</div>	
	</form>

	<form class="col-xs-12 form-inline" ng-submit="vm.savePhotos()">
		<div class="form-group col-lg-12">
			<button class="btn btn-default" type="submit" ng-click = "taco = true">Save Images to Profile</button>
		</div>
	</form>

	<div class="results">
		
		<div class = "col-lg-3 col-md-12" ng-hide="searchResults">
			<img src="http://placehold.it/125x125">
		</div>
		<div class = "col-lg-3 col-md-12" ng-show="searchResults">
			<img src="{{vm.data.contentUrl}}">
			<figcaption>{{vm.image1.height}}x{{vm.image1.width}}</figcaption>
		</div>
		<div class = "col-lg-4 col-md-12" ng-hide="searchResults">
			<img src="http://placehold.it/250x250">
			
		</div>
		<div class = "col-lg-4 col-md-12" ng-show="searchResults">
			<img src="{{vm.data1.contentUrl}}">
			<figcaption>{{vm.image2.height}}x{{vm.image2.width}}</figcaption>
		</div>
		<div class = "col-lg-4 col-md-12" ng-hide="searchResults">
			<img src="http://placehold.it/400x400">
			
		</div>
		<div class = "col-lg-4 col-md-12" ng-show="searchResults">
			<img src="{{vm.data2.contentUrl}}">
			<figcaption>{{vm.image3.height}}x{{vm.image3.width}}</figcaption>
		</div>
		<div class = "col-xs-12 check-element" ng-hide="searchResults">
			<img src="http://placehold.it/600x600">
			
		</div>
		<div class = "col-xs-12 check-element" ng-show="searchResults">
			<img src="{{vm.data3.contentUrl}}">
			<figcaption>{{vm.image4.height}}x{{vm.image4.width}}</figcaption>
		</div>
	</div>
</div>