<div class = "row rowText">
	<form>
		<!-- LEFT COLUMN -->
		<div class = "col-xs-6 enterSelectText">
			<div class="form-group userText">
		    	<label class = "userTextLabel" for="textInput">
		    		<span>Enter your text</span>
			    	<div class="" ng-show = "controller.form.textInput">
						<input type="number" class="form-control" id="textPercentInput" placeholder="0" ng-model= "controller.form.percentage.textInput">
						<span>How much %</span>
				    </div>
		    		<span>
		    			<i class="fa fa-floppy-o saveButton" ng-show = "controller.loggedIn && controller.form.textInput" aria-hidden="true" data-toggle="modal" data-target=".modalSave"></i>
		    		</span>	
		    	</label>	
		    	<textarea class="form-control" id = "textInput" rows="5" ng-model= "controller.form.textInput"></textarea>
		  	</div>

			<div class="col-xs-6 standardLorems">
			   	<h4>I also want:</h4>
					<div class="checkbox">
					   <input type="checkbox" ng-click = "controller.percentageShower()" ng-model= "controller.form.checkbox.loremInput" id = "lorem"> 
					   <label for = "lorem" class = "checkboxLabel">Traditional Lorem Ipsum</label>
					   <span ng-show = "controller.form.checkbox.loremInput">
					    	<i class="fa fa-check" aria-hidden="true"></i>
					   </span>	
				   	</div>	
				   	<div class = "checkbox">
				    	<input type="checkbox" ng-model= "controller.form.checkbox.gibberishInput" ng-click = "controller.percentageShower()" id = "gibberish"> 
				    	<label for = "gibberish" class = "checkboxLabel">Gibberish</label>
				    	<span ng-show = "controller.form.checkbox.gibberishInput">
				    		<i class="fa fa-check" aria-hidden="true"></i>
				    	</span>
				    </div>
				    <div class = "checkbox">
				    	<input type="checkbox" ng-model= "controller.form.checkbox.hipsterInput" ng-click = "controller.percentageShower()" id = "hipster"> 
				    	<label for = "hipster" class = "checkboxLabel">Hipster</label>
				    	<span ng-show = "controller.form.checkbox.hipsterInput">
				    		<i class="fa fa-check" aria-hidden="true"></i>
				    	</span>
				    </div>
				    <div class = "checkbox">	
				    	<input type="checkbox" ng-model= "controller.form.checkbox.baconInput" ng-click = "controller.percentageShower()" id = "bacon"> 
				    	<label for = "bacon" class = "checkboxLabel">Bacon</label>
				    	<span ng-show = "controller.form.checkbox.baconInput">
				    		<i class="fa fa-check" aria-hidden="true"></i>
				    	</span>
				  	</div>
			</div>

			<div class = "col-xs-6 standardLoremPercentages" ng-show = "controller.showPercentage">
				<h4>How much %</h4>
					
				<div class="" ng-style = "{'visibility': controller.form.checkbox.loremInput ? 'visible' : 'hidden'}">
					<input type="number" class="form-control" id="loremPercentInput" placeholder="0" ng-model= "controller.form.percentage.loremInput">
			    </div>
				<div class="" ng-style = "{'visibility': controller.form.checkbox.gibberishInput ? 'visible' : 'hidden'}">
					<input type="number" class="form-control" id="loremPercentInput" placeholder="0" ng-model= "controller.form.percentage.gibberishInput">
			    </div>
				<div class="" ng-style = "{'visibility': controller.form.checkbox.hipsterInput ? 'visible' : 'hidden'}">
					<input type="number" class="form-control" id="loremPercentInput" placeholder="0" ng-model= "controller.form.percentage.hipsterInput">
			    </div>
				<div class="" ng-style = "{'visibility': controller.form.checkbox.baconInput ? 'visible' : 'hidden'}">
					<input type="number" class="form-control" id="loremPercentInput" placeholder="0" ng-model= "controller.form.percentage.baconInput">
			    </div>			    				    				    	
			</div>

			<div class = "wordTotalSubmit col-xs-12">
				<div class="form-group wordTotal">
				    <label for="wordTotal" class="control-label">Word Total:</label>
					<input type="number" class="form-control" id="wordTotal" placeholder="200" ng-model= "controller.form.wordTotal">	    
				</div>
				<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#modal" ng-click = "controller.submit()">Submit</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#modal" ng-click = "controller.random()">Random</button>
				<button class="btn btn-default" ng-click = "controller.reset()">Reset</button>
			</div>
		</div>

		<!-- RIGHT COLUMN -->
		<div class = "col-xs-6 userArrays">
		    <div class = "navLinks" ng-style = "{'visibility': controller.loggedIn ? 'visible' : 'hidden'}">
		    	<ul>
		    		<li ng-class = "{active: controller.showMine}" ng-click="controller.showMine = !controller.showMine; controller.showAll = false">Mine</li>
		    		<span> | </span>
		    		<li ng-class = "{active: controller.showAll}" ng-click="controller.showAll = !controller.showAll; controller.showMine = false">All</li>
		    	</ul>
		    </div>
			
			<!-- SHOW USER'S TEXT ARRAYS -->		    
		    <ul ng-show = "controller.showMine">    
				<li ng-repeat = "arrays in controller.arrays | filter:{author: controller.userId} | filter:isPrivate !== undefined | orderBy:'-dateTime'" class = "publicArrays">
	               	<article>
	                    <h3 class = "textArrayName">
	                    	<div class = "check">
		                    	<span class = "checkSpan" ng-click="controller.clickedBox(arrays.textArray)">			{{arrays.textArrayName}} 
		                    		<i class="fa fa-check" aria-hidden="true"></i>
		                    	</span>
						  	</div>
	                    	<span ng-click = "controller.textVotes(arrays)">
								<i class="fa fa-heart heartIcon" aria-hidden="true"></i>
								<span class = "heartNo">{{arrays.textVotes}}</span>	
							</span>	
	                    </h3>
		                    <p class = "textArray">
		                    	{{arrays.textArray}}
		                    </p>	
		                    <span class = "userNameGroup">	
			                   	<span class = "userName">
			                   		<span class = "userNameBy"> by:</span>
			                   		{{arrays.author_obj.userName}}
			                   	</span>	
			                </span>		                    	
	               	</article>
	        	</li>
			</ul>

			<!-- SHOW ALL TEXT ARRAYS -->
			<ul ng-show = "controller.showAll">
			    <li dir-paginate = "arrays in controller.arrays | filter: isPrivate == true  | orderBy:'-textVotes'| itemsPerPage: '3'" current-page="controller.currentPage" class = "publicArrays">
	               	<article>
	                    <h3 class = "textArrayName">
	                    	<div class = "check">
		                    	<span class = "checkSpan" ng-click="controller.clickedBox(arrays.textArray)">			{{arrays.textArrayName}} 
		                    		<i class="fa fa-check" aria-hidden="true"></i>
		                    	</span>
						  	</div>
	                    	<span ng-click = "controller.textVotes(arrays)">
								<i class="fa fa-heart heartIcon" aria-hidden="true"></i>
								<span class = "heartNo">{{arrays.textVotes}}</span>	
							</span>	
	                    </h3>
		                    <p class = "textArray">
		                    	{{arrays.textArray}}
		                    </p>	
		                    <span class = "userNameGroup">	
			                   	<span class = "userName">
			                   		<span class = "userNameBy"> by:</span>
			                   		{{arrays.author_obj.userName}}
			                   	</span>	
			                </span>		                    	
	               	</article>
	            </li>
	           	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls> 	            
	        </ul>
   
		</div>

		<!-- TEXT MODAL -->
		<div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">          
                    <div class="modal-header">
                        <div class="close" data-dismiss="modal">&times;</div>
                         <h2 class="modal-title">Here's your custom text:</h2>
                    </div>
                    <div class="modal-body"> 
                     	<i class="fa fa-files-o" aria-hidden="true" clipboard supported="controller.supported" text="textToCopy" on-copied="controller.success()" on-error="controller.fail(err)"></i>
						<textarea class="form-control" id = "textOutput" rows="20" readonly ng-model= "controller.form.textOutput" ng-model="textToCopy">{{controller.form.textOutput}}</textarea>   
                    </div>
                </div>
            </div>
        </div>
	</form>

	<!-- SAVE MODAL -->
	<div class="modal modalSave" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
                    <div class="close" data-dismiss="modal">&times;</div>
                        <h2 class="modal-title">Save</h2>
                   	</div>
				<form>
				   	<div class = "form-group">
				    	<label for= "textArrayName">Name</label>
				    	<input type="text" class="form-control m-b-10 textArrayName" id="textArrayName"  tabindex="1" ng-model= "controller.form.textArrayName" >
				    	<label for= "textInputSaved">Your Words</label>
				    	<textarea class="form-control m-b-10" tabindex="2" id = "textInputSaved" readonly>{{controller.form.textInput}}</textarea>
				    	<button class = "btn btn-default buttonSave" tabindex="3" ng-click = "controller.saveTextArray()">Save</button>
				    	<div class="checkboxPrivate">
					    	<label for = "makePrivate" class = "checkboxLabelPrivate">make private</label>
					    	<input type="checkbox" ng-model= "controller.form.isPrivate" id = "makePrivate"> 
					    </div>
				    </div>	
				</form>
			</div>
		</div>
	</div>
</div>

